<%= search_form_for @q, url: installed_softwares_path, method: :get, html: { id: "search-form" }, remote: true do |f| %>
  <%= hidden_field_tag :per_page, params[:per_page] %>
  <%= hidden_field_tag "q[s]", params.dig(:q, :s), id: "sort-order" %>

  <div class="container mt-4">

  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="mb-0">Программное обеспечение</h1>
    <%= link_to new_installed_software_path, class: 'btn btn-primary' do %>
      <i class="bi bi-plus-lg"></i> Добавить
    <% end %>
  </div>

  <div class="mb-3">
    <span class="badge bg-danger">Просрочено</span>
    <span class="badge bg-warning text-dark">Истекает в течение 3 месяцев</span>
  </div>

  <div class="card shadow">
    <div class="card-body p-0">

<!--        <div class="table-responsive">-->
          <table class="table table-hover mb-0">
            <thead class="table-dark">
            <tr class="text-center">
<!--              <th><%#= sort_link(@q, :name, "Название ПО", {}, { class: "text-light" }) %></th>-->
<!--              <th><%#= sort_link(@q, :version, "Версия", {}, { class: "text-light" }) %></th>-->
              <th>
                <%= link_to "#", class: "text-light sort-link d-inline-flex align-items-center", data: { sort: "name" } do %>
                  Название ПО
                  <i class="ms-1 bi" data-sort-field="name"></i>
                <% end %>
              </th>
              <th>
                <%= link_to "#", class: "text-light sort-link d-inline-flex align-items-center", data: { sort: "version" } do %>
                  Версия
                  <i class="ms-1 bi" data-sort-field="version"></i>
                <% end %>
              </th>
              <th>Кол-во</th>
              <th>Срок лицензии</th>
              <th style="min-width: 180px;">Держатель ключа</th>
              <th>Аудитории</th>
              <th class="text-center" style="min-width: 80px;">&sum;&nbsp;ПК</th>
              <th class="text-end">Действия</th>
            </tr>

            </thead>

            <%= render partial: "filters", locals: {f: f} %>

            <tbody id="softwares">
            <%= render partial: "table", locals: { installed_software: @installed_software } %>
            </tbody>
          </table>
<!--        </div>-->

    </div>
  </div>

  <div class="d-flex justify-content-between align-items-center mt-3">
    <div>
      <div class="input-group input-group-sm">
        <label class="input-group-text" for="per_page">Показать</label>
        <select name="per_page" id="per_page" class="form-select form-select-sm" onchange="this.form.requestSubmit()">
          <% [5, 10, 20, 50].each do |number| %>
            <option value="<%= number %>" <%= @current_per_page.to_i == number ? 'selected' : '' %>><%= number %></option>
          <% end %>
        </select>
        <span class="input-group-text">записей</span>
      </div>
    </div>

    <div id="pagination-wrapper" class="d-flex justify-content-center mt-3">
      <%= paginate @installed_software, params: request.query_parameters, remote: true %>
    </div>
  </div>
</div>
<% end %>