<p style="color: green"><%= notice %></p>

<%= render @request_soft_aud %>

<div>
  <%= link_to "Edit this request soft aud", edit_request_soft_aud_path(@request_soft_aud) %> |
  <%= link_to "Back to request soft auds", request_soft_auds_path %>

  <%= button_to "Destroy this request soft aud", @request_soft_aud, method: :delete %>
</div>
