<%= form_with(model: @user) do |f| %>
  <% if @user.errors.any? %>
    <div class="alert alert-danger">
      <ul class="mb-0">
        <% @user.errors.full_messages.each do |m| %>
          <li><%= m %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card shadow">
    <div class="card-body p-4">

      <!-- Первая строка: Username + Email -->
      <div class="row g-4 mb-3">
        <div class="col-md-6">
          <%= f.label :username, "Логин",  class: 'form-label' %>
          <%= f.text_field :username, class: 'form-control', required: true %>
        </div>
        <div class="col-md-6">
          <%= f.label :email, class: 'form-label' %>
          <%= f.email_field :email, class: 'form-control', required: true %>
        </div>
      </div>

      <!-- Вторая строка: Роль (только для админа) -->
      <% if current_user.role.name == 'admin' %>
        <div class="row g-4 mb-3">
          <div class="col-md-6">
            <%= f.label :role_id, "Роль", class: 'form-label' %>
            <%= f.collection_select :role_id, Role.all, :id, :name,
                                    { prompt: "Выберите роль" },
                                    class: 'form-select', required: true %>
          </div>
        </div>
      <% end %>

      <!-- Пароль -->
      <% if @user.new_record? %>
        <div class="row g-4 mt-2 mb-3">
          <div class="col-md-6">
            <%= f.label :password, "Пароль", class: 'form-label' %>
            <%= f.password_field :password, class: 'form-control', autocomplete: 'new-password', required: true %>
          </div>
          <div class="col-md-6">
            <%= f.label :password_confirmation, "Подтверждение пароля", class: 'form-label' %>
            <%= f.password_field :password_confirmation, class: 'form-control', required: true %>
          </div>
        </div>
      <% else %>
        <!-- Свич смены пароля -->
        <div class="row g-4 mt-2 mb-2">
          <div class="col-md-6">
            <div class="form-check form-switch">
              <%= f.check_box :change_password,
                              { class: 'form-check-input', id: 'change_password_switch' },
                              '1', '0' %>
              <%= f.label :change_password, 'Сменить пароль',
                          class: 'form-check-label',
                          for: 'change_password_switch' %>
            </div>
          </div>
        </div>

        <!-- Скрытые поля пароля -->
        <div id="password_fields" class="row g-4" style="display: none;">
          <div class="col-md-4">
            <%= f.label :current_password, "Текущий пароль", class: 'form-label' %>
            <%= f.password_field :current_password, class: 'form-control', autocomplete: 'current-password' %>
          </div>

          <div class="col-md-4">
            <%= f.label :password, "Пароль", class: 'form-label' %>
            <%= f.password_field :password, class: 'form-control', autocomplete: 'new-password' %>
          </div>
          <div class="col-md-4">
            <%= f.label :password_confirmation, "Подтверждение пароля", class: 'form-label' %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
          </div>
        </div>
      <% end %>

      <!-- Кнопки -->
      <div class="d-flex justify-content-end gap-3 mt-4">
        <%= link_to 'Отмена', users_path, class: 'btn btn-outline-secondary' %>
        <%= f.submit @user.new_record? ? 'Создать' : 'Сохранить', class: 'btn btn-primary' %>
      </div>

    </div>
  </div>


<% end %>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const chk = document.getElementById("change_password_switch");
        const pwFields = document.getElementById("password_fields");
        if (!chk) return;
        pwFields.style.display = chk.checked ? "flex" : "none";
        chk.addEventListener("change", () => {
            pwFields.style.display = chk.checked ? "flex" : "none";
        });
    });
</script>