<% @comp_classes.each do |comp_class| %>

  <tr>
    <td class="text-start"><b><%= comp_class.aud_number %></b></td>
    <td><%= comp_class.cafedra.name %></td>
    <td><%= comp_class.count_seat %></td>
    <td><%= comp_class.count_comp %></td>
    <td><%= comp_class.count_comp_seat %></td>

    <td>
      <i class="bi <%= comp_class.projector ? 'bi-check-circle text-success' : 'bi-x-circle text-danger' %>"></i>
    </td>
    <td>
      <i class="bi <%= comp_class.panel ? 'bi-check-circle text-success' : 'bi-x-circle text-danger' %>"></i>
    </td>
    <td>
      <i class="bi <%= comp_class.ch_board ? 'bi-check-circle text-success' : 'bi-x-circle text-danger' %>"></i>
    </td>


    <td><%= truncate(comp_class.spec_purpose, length: 50) %></td>

    <td class="text-end">
      <div class="d-inline-flex gap-2">
        <%= link_to installed_softwares_path(q: { comp_classes_aud_number_in: [comp_class.aud_number] }),
                    class: 'text-decoration-none text-warning', title: 'ПО этой аудитории', data: { bs_toggle: "tooltip" } do %>
          <i class="bi bi-hdd "></i>

          <%= link_to comp_class, class: 'text-decoration-none text-primary', title: 'Просмотр', data: { bs_toggle: "tooltip" } do %>
          <i class="bi bi-eye"></i>
        <% end %>

        <%= link_to edit_comp_class_path(comp_class), class: 'text-decoration-none text-secondary', title: 'Редактировать', data: { bs_toggle: "tooltip" } do %>
          <i class="bi bi-pencil"></i>
        <% end %>

        <%= link_to comp_class_path(comp_class), method: :delete,
                    data: { confirm: 'Вы уверены?', bs_toggle: "tooltip" },
                    class: 'text-decoration-none text-danger', title: 'Удалить' do %>
          <i class="bi bi-trash"></i>
        <% end %>

        <% end %>
      </div>
    </td>

  </tr>
<% end %>