<%= search_form_for @q, url: comp_classes_path, method: :get, html: { id: "search-form" }, remote: true do |f| %>
  <%= hidden_field_tag :per_page, params[:per_page] %>
  <div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h1 class="mb-0">Компьютерные классы</h1>
      <%= link_to new_comp_class_path, class: 'btn btn-primary' do %>
        <i class="bi bi-plus-lg"></i> Новый класс
      <% end %>
    </div>

    <div class="card shadow">
      <div class="card-body p-0">

  <!--        Дает возможность раскрывать на всю страницу выпадающие списки фильтров, но-->
  <!--        убирает прокрутку таблицы в мобильной версии-->
  <!--        <div class="table-responsive">-->
            <table class="table table-hover mb-0 table-striped">
              <thead class="table-dark">
              <tr class="text-center">
                <th class="text-start"><%= sort_link(@q, :aud_number, "№ ауд", {}, { class: "text-light" }) %></th>
                <th><%= sort_link(@q, :cafedra_name, "Каф", {}, { class: "text-light" }) %></th>
                <th><%= sort_link(@q, :count_seat, "Посад места", {}, { class: "text-light" }) %></th>
                <th><%= sort_link(@q, :count_comp, "Кол-во ПК", {}, { class: "text-light" }) %></th>
                <th><%= sort_link(@q, :count_comp_seat, "Кол-во посад за ПК", {}, { class: "text-light" }) %></th>
                <th><%= sort_link(@q, :projector, "Проектор", {}, { class: "text-light" }) %></th>
                <th><%= sort_link(@q, :panel, "Панель", {}, { class: "text-light" }) %></th>
                <th><%= sort_link(@q, :ch_board, "Меловая доска", {}, { class: "text-light" }) %></th>
                <th><%= sort_link(@q, :spec_purpose, "Спецназнач", {}, { class: "text-light" }) %></th>
                <th class="text-end">Действия</th>
              </tr>
              </thead>

              <%= render partial: "filters", locals: {f: f} %>

              <tbody id="comp_classes" class="text-center">

              <% if @comp_classes.any? %>
                <%= render partial: "table", locals: { comp_classes: @comp_classes } %>
              <% else %>
                <tr>
                  <td colspan="10" class="text-center text-muted py-4">
                    Нет записей
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
    </div>

    <div class="d-flex justify-content-between align-items-center mt-3">
      <div>
          <div class="input-group input-group-sm">
            <label class="input-group-text" for="per_page">Показать</label>
            <select name="per_page" id="per_page" class="form-select form-select-sm" onchange="this.form.requestSubmit()">
              <% [5, 10, 20, 50].each do |number| %>
                <option value="<%= number %>" <%= @current_per_page.to_i == number ? 'selected' : '' %>><%= number %></option>
              <% end %>
            </select>
            <span class="input-group-text">записей</span>
          </div>
          </div>
      <div id="pagination-wrapper" class="d-flex justify-content-center mt-3">
        <%= paginate @comp_classes, params: request.query_parameters, remote: true %>
      </div>
    </div>

</div>
<%end %>