<% @cafedras.each do |cafedra| %>
  <tr>
    <td><%= cafedra.name %></td>
    <td class="text-center"><%= cafedra.faculty.name %></td>
    <td><%= truncate(cafedra.add_note, length: 50) %></td>
    <td class="text-end">
      <div class="d-inline-flex gap-2">
        <%= link_to cafedra, class: 'text-decoration-none text-success', title: 'Просмотр', data: { bs_toggle: "tooltip" } do %>
          <i class="bi bi-eye"></i>
        <% end %>

        <%= link_to edit_cafedra_path(cafedra), class: 'text-decoration-none text-primary', title: 'Редактировать', data: { bs_toggle: "tooltip" } do %>
          <i class="bi bi-pencil"></i>
        <% end %>

        <%= link_to cafedra_path(cafedra), method: :delete,
                    data: { confirm: 'Вы уверены?', bs_toggle: "tooltip" },
                    class: 'text-decoration-none text-danger', title: 'Удалить' do %>
          <i class="bi bi-trash"></i>
        <% end %>
      </div>
    </td>

  </tr>
<% end %>