<% @cafedras.each do |cafedra| %>
  <tr class="<%= 'text-decoration-line-through text-muted' if cafedra.deleted_at.present? && current_user.role.name == 'admin' %>">
    <td><%= cafedra.name %></td>
    <td class="text-center"><%= cafedra.faculty.name %></td>
    <td><%= truncate(cafedra.description, length: 50) %></td>
    <td class="text-end">
      <div class="d-inline-flex gap-2">
        <%= link_to cafedra, class: 'text-decoration-none text-success', title: 'Просмотр', data: { bs_toggle: "tooltip" } do %>
          <i class="bi bi-eye"></i>
        <% end %>

        <%= link_to edit_cafedra_path(cafedra), class: 'text-decoration-none text-primary', title: 'Редактировать', data: { bs_toggle: "tooltip" } do %>
          <i class="bi bi-pencil"></i>
        <% end %>

        <%= link_to soft_delete_cafedra_path(cafedra),
                    method: :patch,
                    data: { confirm: 'Пометить на удаление?', bs_toggle: "tooltip" },
                    class: 'text-decoration-none text-danger', title: 'Пометить на удаление' do %>
          <i class="bi bi-trash"></i>
          <% end %>

          <% if current_user.role.name == 'admin'%>
            <%= link_to restore_cafedra_path(cafedra),
                        method: :patch,
                        class: "text-decoration-none text-success #{'disabled' if cafedra.deleted_at.nil?}",
                        title: 'Восстановить' do %>
              <i class="bi bi-arrow-clockwise"></i>
            <% end %>

            <%= link_to cafedra_path(cafedra), method: :delete,
                        data: { confirm: 'Вы уверены?', bs_toggle: "tooltip" },
                        class: 'text-decoration-none text-danger', title: 'Удалить' do %>
              <i class="bi bi-x-lg"></i>
            <% end %>
          <% end %>
      </div>
    </td>
  </tr>
<% end %>