<div class="container mt-4">

  <div class="card shadow rounded-4 overflow-hidden">
    <div class="card-header bg-light px-4 py-3 d-flex justify-content-between align-items-center">
      <h3 class="mb-0 d-flex align-items-center gap-3 flex-wrap">
        <i class="bi bi-diagram-3 text-primary"></i>
        <% if @cafedra.deleted_at.present? %>
          <s><span><%= @cafedra.name %></span></s>
        <% else %>
          <span><%= @cafedra.name %></span>
        <% end %>
      </h3>

      <%= link_to cafedras_path, class: 'btn btn-secondary' do %>
        <i class="bi bi-arrow-left"></i> Назад
      <% end %>
    </div>

    <div class="card-body px-4 py-4">
      <div class="row g-4">
        <div class="col-md-6">
          <h5 class="text-muted mb-3"><i class="bi bi-info-circle me-2 text-secondary"></i>Общая информация</h5>
          <ul class="list-unstyled fs-6 lh-lg">
            <li>
              <i class="bi bi-building me-2 text-primary"></i>
              <strong>Факультет:</strong>
              <%= @cafedra.faculty.name %>
            </li>

            <li>
              <i class="bi bi-card-text me-2 text-primary"></i>
              <strong>Примечания:</strong>
              <%= @cafedra.add_note.presence || content_tag(:em, 'Нет') %>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="card-footer bg-light px-4 py-3 d-flex justify-content-end gap-2">
      <%= link_to edit_cafedra_path(@cafedra), class: 'btn btn-outline-primary' do %>
        <i class="bi bi-pencil"></i> Редактировать
      <% end %>
      <%= link_to soft_delete_cafedra_path(@cafedra), method: :patch,
                  data: { confirm: 'Пометить на удаление?', bs_toggle: "tooltip" },
                  class: 'btn btn-outline-danger', title: 'Пометить на удаление' do%>
        <i class="bi bi-trash"></i> Пометить на удаление
      <%end %>
      <% if current_user.role.name == 'admin'  %>
        <%= link_to @cafedra, method: :delete,
                    data: { confirm: 'Вы уверены?' },
                    class: 'btn btn-outline-danger' do %>
          <i class="bi bi-x-lg"></i> Удалить
        <% end %>
        <%= link_to restore_cafedra_path(@cafedra),
                    method: :patch,
                    class: "btn btn-outline-success #{'disabled' if @cafedra.deleted_at.nil?}",
                    title: 'Восстановить' do %>
          <i class="bi bi-arrow-clockwise"></i> Восстановить
        <% end %>
      <% end %>
    </div>
  </div>
</div>
