<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Software Management" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="csrf-token" content="<%= form_authenticity_token %>">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://bootswatch.com/5/zephyr/bootstrap.min.css">


    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module", defer: true  %>

    <%= javascript_include_tag "rails-ujs", "data-turbo-track": "reload" %>


  </head>

  <body class="d-flex flex-column min-vh-100">

  <nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <div class="container-fluid">
      <ul class="navbar-nav flex-row">
        <li class="nav-item me-3">
          <%= link_to root_path, class: "navbar-brand d-flex align-items-center px-2 #{'active' if current_page?(root_path)}" do %>
            <i class="bi bi-house-door text-white fs-5 me-2"></i>
            <span class="d-none d-lg-inline">Главная</span>
          <% end %>
        </li>
        <li class="nav-item me-3">
          <%= link_to faculties_path, class: "nav-link d-flex align-items-center px-2 #{'active' if current_page?(faculties_path)}" do %>
            <i class="bi bi-building text-white fs-5 me-2"></i>
            <span class="d-none d-lg-inline">Факультеты</span>
          <% end %>
        </li>
        <li class="nav-item me-3">
          <%= link_to cafedras_path, class: "nav-link d-flex align-items-center px-2 #{'active' if current_page?(cafedras_path)}" do %>
            <i class="bi bi-diagram-3 text-white fs-5 me-2"></i>
            <span class="d-none d-lg-inline">Кафедры</span>
          <% end %>
        </li>
        <li class="nav-item me-3">
          <%= link_to comp_classes_path, class: "nav-link d-flex align-items-center px-2 #{'active' if current_page?(comp_classes_path)}" do %>
            <i class="bi bi-door-closed text-white fs-5 me-2"></i>
            <span class="d-none d-lg-inline">Аудитории</span>
          <% end %>
        </li>
        <li class="nav-item me-3">
          <%= link_to installed_softwares_path, class: "nav-link d-flex align-items-center px-2 #{'active' if current_page?(installed_softwares_path)}" do %>
            <i class="bi bi-hdd text-white fs-5 me-2"></i>
            <span class="d-none d-lg-inline">ПО</span>
          <% end %>
        </li>
        <li class="nav-item me-3">
          <%= link_to request_softs_path, class: "nav-link d-flex align-items-center px-2 #{'active' if current_page?(request_softs_path)}" do %>
            <i class="bi bi-journal-text text-white fs-5 me-2"></i>
            <span class="d-none d-lg-inline">Заявки</span>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to users_path, class: "nav-link d-flex align-items-center px-2 #{'active' if current_page?(users_path)}" do %>
            <i class="bi bi-people text-white fs-5 me-2"></i>
            <span class="d-none d-lg-inline">Пользователи</span>
          <% end %>
        </li>
      </ul>
    </div>
  </nav>






  <div class="container-fluid py-3 flex-grow-1">
    <%= yield %>
  </div>

<!--  <div class="container-fluid ">-->
  <footer class="bg-info text-white mt-auto py-3 small border-top">
    <div class="container d-flex flex-column flex-sm-row justify-content-between align-items-center gap-2">
      <div class="d-flex align-items-center gap-2">
        <i class="bi bi-mortarboard-fill fs-5"></i>
        <span>Управление цифровых образовательных технологий</span>
      </div>
      <div class="d-flex align-items-center gap-2">
        <i class="bi bi-telephone-fill fs-6"></i>
        <span>+7 (888) 123-45-67</span>
      </div>
    </div>
  </footer>





<!--  </div>-->
  </body>
</html>


<script>


</script>